.hd1{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
.text{
    border-style: solid;
    border-width: 1px;
    width: 48%;
    display: inline-block;
    background-color: rgb(135, 189, 135);
    color: white;
}
.pic1{
    width: 40%;
    height: 50%;
    
}
.box{
    width: 48%;
    display: inline-block;
}
.box2 p{
    font-size: 20px;

}
body{
    background-color: rgb(175, 218, 175);
}
#pid{
    color: hotpink;
    
}
.mar{
    margin-left: 500px;
    margin-right: 500px;
    
}
.container{
    border: solid black 5px;
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
}
.box-1{
    background-color: red;
    display: inline-block;
}
.box-2{
    background-color:gold;
    display: inline-block;
}
.box-3{
    background-color: green;
    display: inline-block;
   
}
